body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(245, 245, 245);
}
.container{
    margin-bottom: 50px;
}
.menu{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.buy-btn{
    background-color: black;
    color: white;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
}
.bg-image{
    background-image: url("images/bg-1.png");
    background-repeat: no-repeat;
    background-position: left;
}
.bg-slider{
    background-image: url("images/bg-2.png");
    background-repeat: no-repeat;
    background-position: left bottom; 
    padding: 40px 0px;
}
.carousel-indicators{
    margin-bottom: -2rem;
}
.product-top{
    margin-top: 80px;
    margin-bottom: 30px;
}
.card img{
    padding: 20px;
}
.card{
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.container h4, h2, h1{
    font-weight: bold;
}
.container p{
    color:gray;
    font-size: medium;
}
.product-top h5{
    color: orange;
}
